<section class="row" data-ng-controller="AuthenticationController">
    <div class="container">
        <div class="row">
		    <div class="col-md-4 col-md-offset-4">
    		    <div class="panel panel-default">
			  	    <div class="panel-heading">
			    	    <h3 class="panel-title">Nova conta</h3>
			 	    </div>
			  	    <div class="panel-body">
			        	<form name="userForm" data-ng-submit="signup()" novalidate autocomplete="off">
                        <fieldset>
			    	      	<div class="form-group">
                                <label for="nomeCompleto">Nome completo</label>
			    		        <input class="form-control" required id="nomeCompleto" data-ng-model="credentials.fullName" placeholder="nome completo" name="nomeCompleto" type="text">
                            </div>
                            <div class="form-group">
                                <label for="email">E-mail</label>
			    		        <input class="form-control" required id="email" data-ng-model="credentials.email" placeholder="e-mail" name="email" type="email">
                            </div>                        
                            <div class="form-group">
                                <label for="usuario">Usuário</label>
			    		        <input class="form-control" required id="usuario" data-ng-model="credentials.username" placeholder="usuário" name="usuario" type="text">
                            </div>                        
                            <div class="form-group">
                                <label for="senha">Senha</label>
			    		        <input class="form-control" required id="senha" data-ng-model="credentials.password" placeholder="senha" name="senha" type="password">
                            </div>			    		
			    		    <div class="text-center form-group">
					            <button type="submit" class="btn btn-large btn-primary">Criar conta</button>&nbsp; ou&nbsp;
					            <a href="/#!/signin" class="show-signup">Acessar</a>
				            </div>
			    		    <div data-ng-show="error" class="text-center text-danger">
					            <strong data-ng-bind="error"></strong>
				            </div>
                        </fieldset>
			      	    </form>
			        </div>
			    </div>
		    </div>
	    </div>
    </div>
</section>