<section data-ng-controller="ArticlesController" data-ng-init="findOne()">
	<div class="page-header">
		<h1>Edit Article</h1>
	</div>
	<div class="col-md-12">
		<form name="articleForm" class="form-horizontal" data-ng-submit="update(articleForm.$valid)" novalidate>
			<fieldset>
				<div class="form-group" ng-class="{ 'has-error' : submitted && articleForm.titulo.$invalid}">
					<label class="control-label" for="titulo">Título</label>
					<div class="controls">
						<input name="titulo" type="text" data-ng-model="article.titulo" id="titulo" class="form-control" placeholder="Título" required>
					</div>
					<div ng-show="submitted && articleForm.titulo.$invalid" class="help-block">
						<p ng-show="articleForm.titulo.$error.required" class="text-danger">Título is required</p>
					</div>
				</div>
				<div class="form-group" ng-class="{ 'has-error' : submitted && articleForm.descricao.$invalid}">
					<label class="control-label" for="descricao">Descrição</label>
					<div class="controls">
						<textarea name="descricao" data-ng-model="article.descricao" id="descricao" class="form-control" cols="30" rows="10" placeholder="descrição" required></textarea>
					</div>
					<div ng-show="submitted && articleForm.descricao.$invalid" class="help-block">
						<p ng-show="articleForm.descricao.$error.required" class="text-danger">Descrição is required</p>
					</div>
				</div>
				<div class="form-group">
					<input type="submit" value="Update" class="btn btn-default">
				</div>
				<div data-ng-show="error" class="text-danger">
					<strong data-ng-bind="error"></strong>
				</div>
			</fieldset>
		</form>
	</div>
</section>