<section data-ng-controller="ArticlesController" data-ng-init="find()">
    <div class="page-header col-md-12">
        <div class="row">
            <h1 class="pull-left">Projetos</h1> 
            <div class="pull-right">
                <a href="/#!/articles/create">
                <button type="button" class="btn btn-default" ng-model="button.toggle" style="margin-top: 20px;" bs-checkbox><span class="glyphicon glyphicon-plus"></span> Novo</button>
                </a>
            </div>
        </div>
    </div>
    
    <table class="table table-hover">
      <thead>
        <tr>
          <th width="60%">Nome</th>
          <th width="10%">Data início</th>
          <th width="10%">Data término</th>
          <th width="10%">Responsável</th>
          <th width="10%">Status</th>
        </tr>
      </thead>
      <tbody>
        <tr class="tr-article" data-ng-repeat="article in articles" ng-click="ver(article)"> 
              <td data-ng-bind="article.nome"></td>
              <td data-ng-bind="article.dtInicio | date:'mediumDate'"></td>
              <td data-ng-bind="article.dtTermino | date:'mediumDate'"></td>
              <td data-ng-bind="article.responsavel.username"></td>
              <td>Inicializado</td>
        </tr>
      </tbody>
    </table>
</section>