<section data-ng-controller="ArticlesController" data-ng-init="findOne()">
	<div class="page-header">
		<h1 data-ng-bind="article.nome"></h1>
	</div>
	<!-- <div class="pull-right" data-ng-show="authentication.user._id == article.responsavel._id"> -->
    <div class="pull-right">
		<a class="btn btn-primary" href="/#!/articles/{{article._id}}/edit">
			<i class="glyphicon glyphicon-edit"></i>
		</a>
		<a class="btn btn-primary" data-ng-click="remove();">
			<i class="glyphicon glyphicon-trash"></i>
		</a>
	</div>
	<small>
		<em class="text-muted">
			Responsável:
			<span data-ng-bind="article.responsavel.username">, </span>
            &nbsp&nbsp&nbsp|&nbsp&nbsp&nbsp Data início:
			<span data-ng-bind="article.dtInicio | date:'mediumDate'"></span>
            &nbsp&nbsp&nbsp|&nbsp&nbsp&nbsp Data término:
            <span data-ng-bind="article.dtTermino | date:'mediumDate'"></span>
		</em>
	</small>
	<p class="lead" data-ng-bind="article.descricao"></p>
</section>